.editor {
  flex-flow: row;
}

.editor-left {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  margin: 0;
  box-shadow: none;
  flex-basis: 30%;
}

.card {
  max-width: 600px;
}

.follow {
  position: aboslute;
  width: 95%;
}

.editor-left.card > .card-footer > .card-btn {
  flex-basis: 48%;
}

.editor-right {
  background: white;
  border: 1px dashed green;
  flex-basis: 70%;
  overflow-y: scroll;
  padding-left: 10px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  max-height: 93vh;
}

.editor-input {
  width: 100%;
  line-height: 2em;
  font-size: 20px;
  padding-left: 6px;
}

.editor-text {
  height: 80vh;
  margin-bottom: 10px;
  padding: 4px 0 0 8px;
}
