.editor-left {
  overflow: scroll;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  height: 85vh;
  width: 100%;
  padding: 2px;
}

.editor-left.card > .card-footer > .card-btn {
  width: 48%;
}

.editor-right {
  background: white;
  border: 1px dashed green;
  width: 90%;
  overflow-y: scroll;
  height: 85vh;
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.editor-input {
  width: 100%;
  line-height: 20px;
}

.editor-text {
  height: 500px;
  margin-bottom: 10px;
}
