.modal-container {
  position:absolute;
  width: 100%;
  height: 100%;
  background: rgba(44, 62, 80,.9);
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 10;
}


.modal-container > .card {
  margin: 0 auto;
}

.modal-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 80%;
}

.modal-label {

}

.modal-input {

}

.modal-close {
  width: 200px;
  height: 40px;
  background: white;
}

.modal-close:before {
  content: 'Cancel'
}

.modal-saveBtn {

}
