.preview {
  width: 200px;
  height: 200px;
  margin: 12px;
  overflow: hidden;
}

.card.preview {
  cursor: grab;
}

.preview > .card-header {
  background: transparent;
}

.preview > .card-body {
  position: absolute;
  background: transparent;
}

.preview > .card-body > * {
  opacity: 0.1;
}

.preview-delete {
  top: 4px;
  right: 4px;
  z-index: 3;
  cursor: pointer;
}

.preview-delete:before {
  padding-left: 4px;
}

.slidePosition {
  color: #e67e22;
  font-size: 6rem;
}
