.preview {
  width: 200px;
  height: 200px;
  margin: 12px;
  overflow: hidden;
}

.card.preview {
  cursor: grab;
}

.preview > .card-header {
  z-index: 2;
  background: transparent;
}

.preview > .card-body {
  position: absolute;
  z-index: 2;
  background: transparent;
}

.preview-delete {
  top: 4px;
  right: 4px;
}

.preview-delete:before {
  padding-left: 4px;
}

.slidePosition {
  color: #e67e22;
  font-size: 6rem;
}
