
.left-drag {
  grid-area: left-drag;
  overflow: scroll;
  display: flex;
  flex-flow: column;
  order: 1;
  min-height: 100%;
}

.left-drag .card:hover {
  cursor: grab;
}

.right-drag {
  order: 2;
  grid-area: right-drag;
  border: 1px dashed #95a5a6;
  overflow: scroll;
  flex-flow: wrap;
  display: flex;
  min-height: 500px;
  min-width: 100%;
}

.drop {
  cursor:drop;
}

@media only screen and (min-width: 600px) {
  .container {
    display: inline-grid;
    grid-template-areas: "left-drag right-drag";
    grid-template-columns: 1fr 2fr;
    max-height: 90vh;
  }
}