.toolbar {
  display: flex;
  flex-flow: column;
  line-height: 2;
  background: #ecf0f1;
  padding: 2px;
}

.toolbar-left {
  order: 1;
  grid-area: toolbar-left;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}


.toolbar-right {
  order: 2;
  grid-area: toolbar-right;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.toolbar-item {
  text-decoration: none;
  background-color: #bdc3c7;
  margin: 2px;
  padding: 10px;
  border-radius:2px;
  cursor: pointer;
  transition: all .2s;

}

.toolbar-item:hover {
  background-color: #6f7375;
  color: #bdc3c7;
}

@media only screen and (min-width: 600px) {
  .toolbar {
    display: inline-grid;
    grid-template-areas: "toolbar-left toolbar-right";
    line-height: 2;
    background: #ecf0f1;
    padding: 2px;
  }
}